.container{
    height: 100%;
    background: linear-gradient(90deg, rgba(101,92,255,1) 0%, rgba(0,212,255,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    width: 30rem;
    margin: auto;
    padding: 1.6rem;
    background-color: rgb(235,235, 235);
    border-radius: 1rem;
}

h1{
    width: 100%;
    text-align: center;
}

img{
    height: 15rem;
    width: 100%;
    margin: 1.5rem auto 1.5rem auto;

}

.full-width{
    width: 100%;
}

button{
    margin-top: 1.5rem;
}


mat-icon{
    opacity: .67;
}


nav {
    background: linear-gradient(90deg, rgba(101,92,255,1) 0%, rgba(0,212,255,1) 100%);
    padding: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
    margin-right: 20px;
  }
  
  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
  }
  
  a:hover {
    color: black;
  }
