<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="home">
                <div class="white">
                <i class="material-icons custom-icon">home</i>
                HOME
                </div>
            </a>
            <a mat-list-item routerLink="atores">
                <div class="white">
                    <i class="material-icons custom-icon">theater_comedy</i>
                    Atores
                </div>
            </a>
            <a mat-list-item routerLink="diretores">
                <div class="white">
                <i class="material-icons custom-icon">movie_edit</i>
                Diretor
                </div>
            </a>
            <a mat-list-item routerLink="classes">
                <div class="white">
                <i class="material-icons custom-icon">subtitles</i>
                Classe
                </div>
            </a>
            <a mat-list-item routerLink="titulos">
                <div class="white">
                <i class="material-icons custom-icon">theaters</i>
                Título
                </div>
            </a>
            <a mat-list-item routerLink="/">
                <div class="white">
                <i class="material-icons custom-icon">code</i>
                GitHub
                </div>
            </a>
            <a mat-list-item (click)="logout()">
                <div class="white">
                <i class="material-icons custom-icon">logout</i>
                Logout
                </div>
            </a>
        </mat-nav-list>
    </mat-drawer>

    <div class="sidenav-content">
        <button class="menu mat-elevation-z8" (click)="toggleMenu(); drawer.toggle()" mat-icon-button>
          <mat-icon>{{ isMenuOpen ? 'close' : 'menu' }}</mat-icon>
        </button>
        <router-outlet></router-outlet>
      </div>

</mat-drawer-container>